*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d1117;
color:white;
}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

background:
radial-gradient(circle at top,#1f6feb22,#0d1117);

}

.hero h1{

font-size:65px;

margin-bottom:20px;

}

.hero span{

color:#58a6ff;

}

.hero h3{

font-size:28px;

color:#8b949e;

margin-bottom:20px;

}

.hero p{

max-width:700px;

margin:auto;

line-height:1.8;

font-size:18px;

margin-bottom:35px;

}

.buttons{

display:flex;

gap:20px;

justify-content:center;

}

.btn,.btn2{

padding:15px 35px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn{

background:#238636;

color:white;

}

.btn:hover{

transform:translateY(-5px);

}

.btn2{

border:2px solid #58a6ff;

color:#58a6ff;

}

.btn2:hover{

background:#58a6ff;

color:#000;

}
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 10%;
min-height:100vh;
gap:50px;
}

.hero-left{
flex:1;
}

.hero-right{
flex:1;
display:flex;
justify-content:center;
}

.hero-right img{
width:340px;
border-radius:50%;
border:6px solid #58a6ff;
box-shadow:0 0 35px #58a6ff55;
}

.typing{
color:#58a6ff;
font-size:35px;
font-weight:700;
}

.socials{
margin-top:35px;
}

.socials a{

font-size:28px;

margin-right:20px;

color:white;

transition:.3s;

}

.socials a:hover{

color:#58a6ff;

transform:translateY(-5px);

}

.welcome{

color:#58a6ff;

margin-bottom:15px;

font-weight:600;

}
